<div id="rssincl-box-30158" class="col-md-4 col-xs-12">
  <div class="rssincl-head">
    <p class="rssincl-title">
      <a href="" target="_blank">
				This is a News Box
			</a>
    </p>
  </div>
  <div class="rssincl-content">
    <single-news ng-repeat="news in $ctrl.allNews track by $index" news='news'></single-news>
  </div>
</div>
