<div class="rssincl-entry">
  <p class="rssincl-itemtitle">
    <a ui-sref="customNews({id: $ctrl.news.id})">
				{{$ctrl.news.title}}
		</a>
  </p>
  <p class="rssincl-itemdate">
    09/03/09 6:45 pm
  </p>
  <div class="rssincl-clear"></div>
</div>
