* {
  box-sizing: border-box;
}
body {
  text-align: center;
	min-width: 320px;
}

a, a:hover, a:focus, a:visited  {
  text-decoration: none;
  outline: none;
  cursor:pointer;
}

.header, .footer {
  width: 100%;
  height: 70px;
  background-color: #d7deea;
  padding: 15px;
  font-size: 25px;
  background: rgba(212,228,239,1);
  background: -moz-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(245,240,245,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(245,240,245,1)));
  background: -webkit-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(245,240,245,1) 100%);
  background: -o-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(245,240,245,1) 100%);
  background: -ms-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(245,240,245,1) 100%);
  background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(245,240,245,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#f5f0f5', GradientType=0 );
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

.header {
  margin-bottom: 10px;
}

.header-icons {
  margin-right: 30px;
  .fa {
    margin-right: 10px;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  left:0;
  width:100%;
}

.container {
  min-height: calc(10vh - 140px);
  min-height: -webkit-calc(100vh - 140px);
  min-height: -moz-calc(100vh - 140px);
  padding: 0 15px 70px 15px; 
}

.main {
  font-family: 'Open Sans';
  max-width: 960px;
  padding: 15px 15px 0 15px;
}

.error-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

.img-wrapper img {
  height: 80%;
  width: 80%;
  object-fit: contain;
  margin-top: 20px;
}
 
	/* All elements inside the box container */
	div#rssincl-box-30158 *{
		font-family: Arial, 'Open Sans', sans-serif;
		text-align:left;
		margin:0;
		padding:0;
		line-height:110%;
		clear:both;
	}
 
	/* The div around the title */
	div#rssincl-box-30158 div.rssincl-head {
		padding:10px;
    background: rgba(248,80,50,1);
    background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(217,61,61,1) 73%, rgba(240,47,23,1) 99%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(73%, rgba(217,61,61,1)), color-stop(99%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(217,61,61,1) 73%, rgba(240,47,23,1) 99%, rgba(231,56,39,1) 100%);
    background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(217,61,61,1) 73%, rgba(240,47,23,1) 99%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(217,61,61,1) 73%, rgba(240,47,23,1) 99%, rgba(231,56,39,1) 100%);
    background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(217,61,61,1) 73%, rgba(240,47,23,1) 99%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );
	}
 
	/* The <p> which contains the title of the box, and the <a> tag wrapped around the title (if used) */
	div#rssincl-box-30158 div.rssincl-head p.rssincl-title,
	div#rssincl-box-30158 div.rssincl-head p.rssincl-title a {
		font-size: 18px; 
		font-weight:bold; 
		color: #FFF; 
		text-decoration:none;
	}
 
	/* The div around each news item */
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry {
		padding:10px;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(248,248,248,1) 74%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(74%, rgba(248,248,248,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(248,248,248,1) 74%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(248,248,248,1) 74%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(248,248,248,1) 74%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(248,248,248,1) 74%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
		border-bottom:1px solid #C0C0C0;
		border-left:1px solid #C0C0C0;
		border-right:1px solid #C0C0C0;
	}
	
  div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle {
		padding:5px;
		padding-left:25px;
    background-image:url("../assets/images/arrow.png");
		background-repeat:no-repeat;
		background-position:0px 3px;        
		margin-bottom:6px;
	}
 
	/* The <a> tag wrapped around the news item title */
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle a {
		font-size: 14px; 
		font-weight:bold;
		text-decoration:underline;
		color: #333333;
	}
 
	/* Set a color for rolling over the item title*/
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle a:hover{
		color:#CC0101;
	}
 
	/* The <p> tag containing the item description, and all elements inside this tag */
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemdesc,
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemdesc *{
		font-size: 12px;
		color: #333333;
	}
 
	/* The <p> tag containing the item date, and all elements inside this tag */
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemdate,
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemdate *{
		font-size: 10px;
		color: #333333;
	}
 
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemdate {
		margin-bottom:6px;
	}
 
	/* There is a clearer div which you can set to "clear:both"... */
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry div.rssincl-clear {
		clear:both;
	}